<ion-header>
    <ion-navbar color="primary">
        <ion-title>My profile</ion-title>

        <ion-buttons  start (click)="logoutUser()">
            <button ion-button clear large><i class="fa fa-sign-out" aria-hidden="true" style="font-size: 20px;"></i></button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="(person | async)">
        <ion-card text-center>
            <img *ngIf="(person | async)?.img" [src]="(person | async)?.img"  style="border-radius: 50%;  margin: 20px auto 0; width: 250px;  height: 250px;"/>
            <ion-card-content>
                <ion-card-title>{{ (person | async)?.user || '-'}}</ion-card-title>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-list>
                <button ion-item>
                    <ion-icon name="call" item-left></ion-icon> {{ (person | async)?.telSet || '-'}}
                </button>
                <button ion-item>
                    <ion-icon name="mail" item-left></ion-icon> {{ (person | async)?.emailSet || (person | async)?.email || '-'}}
                </button>
                <button ion-item>
                    <ion-icon name="log-in" item-left></ion-icon> {{ (person | async)?.providerId || '-'}}
                </button>
                <button ion-item>
                    <ion-icon name="calendar" item-left></ion-icon> {{ (person | async)?.birthSet || '-'}}
                </button>
                <button ion-item>
                    <ion-icon name="globe" item-left></ion-icon> {{ (person | async)?.townSet || '-'}}
                </button>
                <button ion-item>
                    <ion-icon name="briefcase" item-left></ion-icon> {{ (person | async)?.workSet || '-'}}
                </button>
                <button ion-item>
                    <ion-icon name="book" item-left></ion-icon> {{ (person | async)?.stadySet || '-'}}
                </button>
            </ion-list>
        </ion-card>
        <div padding>
            <button ion-button primary text-center block (click)="settingUser()">Setting my profile</button>
        </div>
    </div>
</ion-content>
